importFrom(stats, deltat)
export(
  as.Date.cal.yr,
  as.Date.numeric,
  apc.frame,
  apc.fit,
  apc.lines,
  apc.plot,
  cal.yr,
  ccwc,
  ci.pd,
  ci.cum,
  ci.lin,
  contr.orth,
  contr.2nd,
  contr.cum,
  contr.diff,
  detrend,
  effx,
  effx.match,
  entry,
  exit,
  float,
  print.floated,
  ex1,
  fcut,
  fcut1,
  ftrend,
  icut,
  isec,
  Icens,
  print.Icens,
  plotevent,
  Lexis.diagram,
  Lexis.lines,
  Lexis,
  Life.lines,
  merge.data.frame,
  merge.Lexis,
  mh,
  ncut,
  nice,
  pctab,
  plotEst,
  pointsEst,
  projection.ip,
  linesEst,
  rateplot,
  Aplot,
  Pplot,
  Cplot,
  Relevel,
  ROC,
  tabplot,
  twoby2,
  stat.table,
  splitLexis,
  subset.Lexis,
  timeBand,
  timeScales,
  W.Lexis,
  status,
  breaks)
# register S3 methods
S3method(plot, Lexis)
S3method(points, Lexis)
S3method(lines, Lexis)
S3method(deltat, Lexis)
S3method(merge, Lexis)
S3method(subset, Lexis)
S3method(merge, data.frame)
S3method(print, stat.table)
